module.exports = {
    serverUrl: "https://eu.airvantage.net", // or https://na.airvantage.net
    mqttHost: "eu.airvantage.net", // or na.airvantage.net
    credentials: {
        client_id: "YOUR_CLIENT_ID",
        client_secret: "YOUR_CLIENT_SECRET",
        username: "you@domain.com",
        password: "yOuRs3cR3t!"
    },
    user2: {
        username:"coworker@domain.com",
        password: "hIsS3cR3t!"
    }
};
